.enemy {
  text-transform: uppercase;
  text-align: center;
  transform: translate3d(-50%, -165%, 0px) !important;
  width: 100px;
  pointer-events: none;
}

.blackout {
  width: 100px;
  height: 100px;
  background-color: rgba(0,0,0,1);
  border: 1px solid white;
  // transform: translate3d(0%, 0%, -50px) !important;
}