.levelBar {
  display: flex;
  text-align: center;
  justify-content: space-around;
  width: 50%;
  left: 1%;
  bottom: 87px;
  height: 5px;
  cursor: pointer;
  background-color: #040338;
  color: white;
  padding: 1px 0 1% 0;
  font-size: 1.25em;
  text-transform: uppercase;

  .allyExp {
    position: absolute;
    left: 130px;
    z-index: 25;
    text-shadow: 2px 2px 2px black;
  }
}