.levelBar {
  display: flex;
  text-align: center;
  justify-content: space-around;
  position: absolute;
  width: 96%;
  left: 1%;
  bottom: 61px;
  height: 10px;
  cursor: pointer;
  background-color: rgb(4, 3, 56);
  border: 1px solid green;
  color: white;
  padding: 1% 0 2% 0;
  font-size: 1.5em;
  text-transform: uppercase;
}