.bottomStats {
  text-align: center;
  margin: 0 auto;
  justify-content: center;
  position: absolute;
  width: 97%;
  left: 1%;
  bottom: 8px;
  height: 75px;
  cursor: pointer;
  background-color: rgb(4, 3, 56);
  border: 1px solid red;
  color: white;
}