.resources {
  display: flex;
  justify-content: space-around;
  font-size: 1.25rem;
  width: 50%;

  p {
    margin-block-start: .1em;
    width: 33%;

    span {
      font-size: 2.85rem;
    }
  }
}